h1,h2,h3,ul,p {
  color: white;
  font-family: 'Raleway', sans-serif;
}

.name {display:inline; float:left; margin:15 auto;}

.nav {display:inline; float:right; margin-bottom:0;
}

ul {display:inline; float:right; list-style:none;}

li {display:inline;}

h1 a { font-size: 38px; text-decoration: none;
}

h1.thicker {font-weight:bold;}


body {background-image: url(bodega.jpg); 
}


li {
  display: inline;
  margin: 0; float: right;
}
ul { font-size: 20px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}


li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 8px 20px;
  text-decoration: none;
}

li a:hover {
 
}

/* unvisited link */
a:link {
  color: whitesmoke;
}

/* visited link */
a:visited {
  color: whitesmoke;
}

/* mouse over link */
a:hover {
  color: cornsilk;
}

/* selected link */
a:active {
  color: powderblue;
}
@media screen and (max-width 320px) { 
  h1,h2,ul{ font-size:0.9em;}
  p{ font-size: 0.7em;}
  body { margin: 0px auto; font-size: 80%; padding: 1%;background: #a3c2c2; }
}
