h1,h2,h3,h4,h5,h6 {
	background: white;
	color: black;
	font-family: 'Amatic SC', cursive;
	font-size: 30px;
}
#name, #interests, #me, #nav{text-align:center;}

h1 {font-size: 80px;}

p {
	background: white;
}

body, h1, h2, img, p {
	border: 1px  white;
}

i, a {
	border: 1px white;
}

.white {
	backrground: white;
}
ul {
	font-family: 'Amatic SC', cursive;
	font-size: 30px;
	color: black;
}
li {
	display: inline;
	margin: 20px;
}
